* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(184, 9, 9);
}

/* main element styling */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* without overflow the border radius will not work */
  overflow: hidden;
  border-radius: 1em;
  /* position property of main element */
  position: relative;
}

/* Styling of each player Interface*/
.player {
  height: 100%;
  width: 100%;
  border: 1px solid;
  padding: 3em 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: sandybrown;
}

.player-label {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.player-score {
  font-size: 5rem;
  text-align: center;
  color: rgba(255, 0, 0, 0.781);
  margin-top: 0.2em;
  margin-bottom: 2.2em;
}

.current-score-info {
  background-color: rgba(255, 0, 0, 0.801);
  color: white;
  padding: 1em;
  border-radius: 0.5em;
}
.current-score-label {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.current-score {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.15em;
}

/* Overlay styling */
/* ==================================================================================== */
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 3em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
}

/* Button styling */
.btn {
  font-size: 1.45rem;
  border: none;
  padding: 0.25em 0.8em;
  border-radius: 1em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.157);
  pointer-events: visible;
  cursor: pointer;
}

.bottom-overlay,
.top-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hold-btn {
  margin-top: 1.2em;
}

.dice-img {
  margin-top: 2em;
}
